body {
   background-color: hsl(214, 17%, 92%);
   font-family: "Barlow Semi Condensed", serif;
   font-weight: 400;
   font-size: 13px;
}

main {
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 3rem 2rem;
}
.container {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: repeat(4, 1fr); 
   height: 600px;
   gap: 20px;
   margin: 2rem;
}
.testimony {
   color: #fff;
   height: 290px;
   border-radius: 10px;
}
.daniel-testinomy {
   color: hsl(214, 17%, 92%);
   background-color: hsl(263, 55%, 52%);
   grid-column: span 2;  
}
.daniel-testinomy .first-comment {
   color: #fff;
   margin: 15px 30px 0;
   font-weight: 500;
   font-size: 20px;
} 
.daniel-testinomy .second-comment {
   margin: 15px 30px 15px;
}


.jonanthan-testinomy {
   background-color: hsl(217, 19%, 35%);
}
.jonanthan-testinomy .first-comment {
   margin: 15px 30px 0;
   font-weight: 500;
   font-size: 20px;
} 
.jonanthan-testinomy .second-comment {
   color: hsl(214, 17%, 92%);
   margin: 15px 50px  15px 30px;
}


.kira-testinomy {
   color:  hsl(217, 19%, 35%);
   height: auto;
   background-color: hsl(0, 0%, 100%); 
   grid-row: span 2;
}
.jeanette-testinomy {
   color:  hsl(217, 19%, 35%);
   background-color: hsl(0, 0%, 100%); 
}
.kira-testinomy .first-comment,
.jeanette-testinomy .first-comment{
   color: hsl(219, 29%, 14%);
   margin: 15px 30px 0;
   font-weight: 500;
   font-size: 20px;
} 
.kira-testinomy .second-comment,
.jeanette-testinomy .second-comment{
   margin: 15px 50px  15px 30px;
}


.patrick-testinomy {
   color: hsl(0, 00%, 81%);
   grid-column: span 2;   
   background-color: hsl(0, 0%, 7%);
}
.patrick-testinomy .first-comment{
   margin: 15px 30px 0;
   font-weight: 500;
   font-size: 20px;
} 
.patrick-testinomy .second-comment {
   margin: 15px 50px  15px 30px;
}

.profile {
   display: flex;
   font-size: 14px;
   margin: 25px 30px 0;
   gap: 10px;
}
h1 {
   font-size: 15px;
   font-weight: bold;
}
h2 {
   font-size: 14px;
   font-weight: 500;
}
img {
   border-radius: 50%;
} 

         /* breakpoints */
@media screen and (max-width: 901px) { 
   body {
      width: 100%; 
   }

   main {
      margin: auto;
   }
   .container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr); 
      height: auto;
      margin: 2rem 2rem 2rem 1rem;
      gap: 30px;
   }
   .testimony {
      height: auto;
      font-size: 2em;
   }

   .first-comment {
      font-size: 1.3em !important;
   }
   .second-comment {
      width: 90%;
   }
}


/* 320px to 600px */
@media screen and (max-width: 700px) { 
   body {
      width: 100%; 
   }

   main {
      display: block;
      margin: auto;
   }
   .container {
      height: auto;
      margin: 1.5rem 1.5rem 1.5rem 0.5rem;
      display: flex;
      flex-direction: column;
   }
   .testimony {
      height: auto;
      font-size: 1.5em;
   }

   .second-comment {
      width: 90%;
   }

   .kira-testinomy {
      order: 1;
   }

   .patrick-testinomy {
      order: 2;
   }
}
